header {
    background-color: rgb(94, 172, 224);
    margin: 0;
    padding: 3px;
    width: 100%;
   
}

header nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

header nav ul li {
    margin: 0 5px;
}

header nav ul li a {
    text-decoration: none;
    color: #666;
}

.active {
    color: #eee;
    font-weight: bold;
}